@import "fonts.css";

body{
	background-color:#F9F9F9;
}
div h1{
  font-family: 'Proxima Nova Lt', "Helvetica Neue",Helvetica, Arial, sans-serif;
  font-weight: 100;
	text-align:center;
	font-size:44px;
	color:#3C3C54;
	margin:20px;
}
table{
	border:0px solid #FFF;
	border-collapse:collapse;
  font-family: 'Proxima Nova Lt', "Helvetica Neue",Helvetica, Arial, sans-serif;
	font-size:80%;
	margin: 40px auto;
	table-layout: fixed;
	width: 1000px;
}
td,th{
	border:1px solid #000;
	border-collapse:collapse;
	padding:5px;
}
caption{
	background:#ccc;
	font-size:140%;
	border:1px solid #000;
	border-bottom:none;
	padding:5px;
	text-align:left;
}
thead th{
	background:#F9F9F9;
	text-align:left;
	color:gray;
}
tbody th{
	background:#3C3C54;
	color:white;
	text-align:left;
}
tbody td{
	background:#3C3C54;
	color:white;
}
tbody tr td.warn{
	background:#FFA62F;
}
tbody tr td.alert{
	background:#C11B17;
}
tbody tr.done th{
	background:#15A6DB;
	color:#F9F9F9;
}
tbody tr.done td{
	background:#15A6DB;
	color:#F9F9F9;
}
tbody tr.done td a{
	color:#F9F9F9;
}

a{
	color:#73C9C9;
}

.links div{
	display:inline;
}
.link{
	padding-right:10px;
}

#th1{width:250px;}
#th2{width:150px;}
#th3{width:60px;text-align:center;}
#th4{text-align:center;}
#th4,#th5,#th6{width:120px;}
#th7{width:150px;}

#td3{text-align:center;}
#td4{text-align:right;padding-right:20px;}
