body{
	background-color:#fff;
	font-family:Helvetica,Arial,sans-serif;
}


.title{
	text-align:center;
	font-size:30px;
	color:#111;
	margin-top:20px;
}
.timestamp{
	text-align:center;
	font-size:12px;
	color:#333;
	margin:15px 0 30px 0;
}


table{
	border:1px solid #2C3539;
	border-collapse:collapse;
	font-size:80%;
	margin-bottom:20px;
}
td,th{
	border:1px solid #888;
	border-collapse:collapse;
	padding:5px;
}	
thead th{
	background:#eee;
	text-align:left;
	color:#666;
	font-style:italic;
}
tbody td{
	background:#626666;
	color:white;
}

tbody td.caption{
	background:#fff;
	color:#333;
	font-size:120%;
}
tbody td a{
	text-decoration:none;
}
tbody td a.account{
	color:#ffc;
}
tbody td a.entity{
	color:#fff;
}
tbody td a.url{
	color:#fff;
}
tbody td a.link{
	color:#ddd;
	padding-right:10px;
}

tbody tr.funded td{
	background:#566D7E;
}
tbody tr.funded td a{

}

tbody tr.done td{
	background:#92A9BA;
	color:#444;
}
tbody tr.done td a{
	color:#444;
}

tbody tr td.highlightTop{
	color:#FFA62F;
}
tbody tr td.highlightMed{
	color:yellow;
}

tbody tr td.highlightPos{
	background:#566D7E;
}
tbody tr td.highlightNeg{
	background:#92A9BA;
	color:#444;
}
tbody tr td.highlightZero{

}


#th1{width:200px;}
#th2{width:130px;}
#th3{width:50px;text-align:center;}
#th4{width:100px;text-align:center;}
#th5{width:100px;}
#th6{width:100px;}
#th7{width:100px;}
#th8{width:100px;}
#th9{width:120px;}

#td3{text-align:center;}
#td4{text-align:right;padding-right:20px;}
