<h5>BitShares 2 (July 7th, 2017 / GUI August 30th, 2017)</h5>

<ul class="download">

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170830/BitShares-light_2.0.170830.exe" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/windows.svg" /> Windows
 </a>
 <p style="margin-top: 0;">sha256: <strong>6481b895ea7268fdca4da32ff593e8fae1006777acd30de7d8aac627378f9f34</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170830/BitShares-light_2.0.170830.dmg" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/mac.svg" /> Mac
 </a>
 <p style="margin-top: 0;">sha256: <strong>594d8dccd9f73b78b335b9ceb73f0bf687d91b11db6078e407eab3cdc086fde7</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170830/bitshares-light_2.0.170830_amd64.deb" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/linux.svg" /> Linux
 </a>
 <p style="margin-top: 0;">sha256: <strong>94c281fb4ba3b3895c12ecd657cec51a732bd111be3511c84fbe00372b5a1949</strong></p>
</li>

</ul>

The latest official core client release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-core/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_core_client'});">https://github.com/bitshares/bitshares-core/releases/latest</a>

The latest official GUI release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-ui/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">https://github.com/bitshares/bitshares-ui/releases/latest</a>

