<h5>BitShares 2 (July 7th, 2017 / GUI September 15th, 2017)</h5>

<ul class="download">

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170915/BitShares.Light.Wallet.Setup.2.0.170915.exe" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/windows.svg" /> Windows
 </a>
 <p style="margin-top: 0;">sha256: <strong>09baae678a19375f67adfcffbd68bcb76e44da33e1441e6be8b81d0a4bbe5aef</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170915/BitShares.Light.Wallet-2.0.170915.dmg" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/mac.svg" /> Mac
 </a>
 <p style="margin-top: 0;">sha256: <strong>edf0981c828198c93fbd0d340810c726774b4478c0a701d021c94879d30618b2</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.170915/BitShares2-light_2.0.170915_amd64.deb" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/linux.svg" /> Linux
 </a>
 <p style="margin-top: 0;">sha256: <strong>4a593f711108da00d03d538eb9139b849014daaeadb718277240a83b2515bb61</strong></p>
</li>

</ul>

The latest official core client release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-core/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_core_client'});">https://github.com/bitshares/bitshares-core/releases/latest</a>

The latest official GUI release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-ui/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">https://github.com/bitshares/bitshares-ui/releases/latest</a>
