<h5>BitShares (February 2nd, 2018 / GUI March 2nd, 2018)</h5>

<ul class="download">

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.180302/BitShares.Setup.2.0.180302.exe" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/windows.svg" /> Windows
 </a>
 <p style="margin-top: 0;">sha256: <strong>6f9913efdc6e804827a98f066a06defc8b289f097588ba95db95b05b8bdc0e99</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.180302/BitShares-2.0.180302.dmg" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/mac.svg" /> Mac
 </a>
 <p style="margin-top: 0;">sha256: <strong>5ce7344bc4fa38c34ce551f6cfed5bece5cf9b5b72d776900bab4848f6a8eba5</strong></p>
</li>

<li>
 <a href="https://github.com/bitshares/bitshares-ui/releases/download/2.0.180302/BitShares2-light_2.0.180302_amd64.deb" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">
 <img style="height: 24px; margin: 0 0 12px 0;" src="/images/icons/linux.svg" /> Linux
 </a>
 <p style="margin-top: 0;">sha256: <strong>a47736d8b2ac8821ed070a621ce60b790c3ae1143fed006cf5f805265dac69a1</strong></p>
</li>

</ul>

The latest official core client release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-core/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_core_client'});">https://github.com/bitshares/bitshares-core/releases/latest</a>

The latest official GUI release can always be found on GitHub at this URL:
<a href="https://github.com/bitshares/bitshares-ui/releases/latest" onclick="ga('set', 'nonInteraction', false);ga('send', 'event', { eventCategory: 'download', eventAction: 'click', eventLabel: 'bitshares_client'});">https://github.com/bitshares/bitshares-ui/releases/latest</a>

