<head>

    <meta charset="utf-8">

    {% if page.title %}
    <title>{{ page.title }} - {{ site.name }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    {% include tracking.html %}

    <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.0/moment-timezone-with-data-2010-2020.min.js"></script>
    
    <!-- Transifix i18n translation scripts -->
    
    <script type="text/javascript">window.liveSettings={api_key:"81acc27d9db94d95981445b1430c0109"};</script>
    <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
</head>
