<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">

    <header>
    <ul class="row menu">
      <li class="col-xs-12 col-md-2">
        <a href="/">
          <img class="img-responsive" src="/images/transparent_b.png" height="160" width="160" alt="BitShares logo" />
        </a>
      </li>
      <li class="col-xs-4 col-md-2"><h2>About</h2>
        <ul>
          <li><a href="{% post_url 2015-06-08-bitshares-2.0 %}">Technology</a></li>
          <li><a href="{% post_url 2015-06-07-bitshares-2-roadmap %}">Roadmap</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li><a href="https://www.stellar.org/contact/">Contact</a></li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Documentation</h2>
        <ul>
          <li><a href="{% post_url 2015-06-07-developer-documentation %}">Developers</a></li>
          <li><a href="{% post_url 2015-06-07-affiliate-system %}">Affiliates</a></li>
          <li><a href="{% post_url 2015-06-07-asset-exchange-rules %}">Traders</a></li>
          <li><a href="{% post_url 2015-06-07-membership-structure %}">Members</a></li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Get Involved</h2>
        <ul>
          <li><a href="https://faucet.bitshares.org/">Sign Up</a> (free)</li>
          <li><a href="https://bitshares.org/deposit-withdraw">Gateways</a></li>
	      <li><a href="https://bitsharestalk.org/">Forum</a></li>
          <li><a href="https://github.com/BitShares">GitHub</a></li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>Share</h2>
        <ul>
          <li><a href="https://www.reddit.com/r/BitShares">Reddit</a></li>
          <li><a href="https://twitter.com/_bitshares">Twitter</a></li>
          <li><a href="https://www.facebook.com/officialbitshares">Facebook</a></li>
          <li><a href="https://plus.google.com/+BitsharesOrg/posts">Google+</a></li>
        </ul>
      </li>
      <li class="col-xs-4 col-md-2"><h2>News</h2>
        <ul>
          <li><a href="https://bitshares.org/newsletter/">Newsletter</a></li>
	      <li><a href="http://bitshares.tv/">BitShares TV</a></li>
	      <li><a href="http://www.aboutbts.com/">AboutBTS</a></li>
	      <li><a href="http://www.bts.hk/">BTS.hk</a></li>
        </ul>
      </li>
    </ul>
  </header>

      {{ content }}

  </body>
</html>
