<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }} - BitShares</title>
    {% else %}
    <title>BitShares</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//use.typekit.net/sku5xvz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
   <body>
     <div class="wrapper">
     <div id="main">
      {% include nav.html %}
             <div class="container m-top">
                {{ content }}
             </div>   
      </div>
</div>
      {% include footer.html %}

  </body>
</html>
