---
layout: default
---

<center>
<table border=0>
<tr><td align="center">

</td><td></td>
<tr>
<td>

<section class="posts wrapper">
        
            <h1 id="posttitle">{{ page.title }}</h1>
            <span>
                <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
            </span>
        </header>

        <section class="postbody">
            {{ content }}
        </section>

</section>
</td>
<td width=40px>&nbsp;</td>
<td class="test" width="300px" valign="top" style="padding-top:70px;">
    {% include right_sidebar.html %}
</td>
</tr>
<tr>
</tr>
</table></center>
