---
layout: default
---

<section class="posts wrapper">
<div class="row">
<div class="col-xs-12 col-md-12">

<h4>{{ page.subtitle }}</h4>

</div>

<div class="col-xs-12 col-md-9">

<article class="postbody">
<img style="float: right; margin: 0 24px 24px 24px; width: 144px;" class="hidden-xs" src="{{ BASE_PATH }}/{{ page.image }}" />
    {{ page.summary }}

    <hr />

    {{ content }}
</article>

<hr />
<strong>
Sign up to the mailing list to be notified when BitShares 2.0 is ready!<a class="btn btn-primary pull-right" href="/">Sign up</a>
</strong>

</div>

<div class="col-xs-12 col-md-3">

<aside>
{% include tech_sidebar.html %}
</aside>

</div>
</section>
